.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__
*/__pycache__/*
/input/**
/output/**
/.idea/**
/logs/**
/lightning_logs/**
/.vscode/**
notebooks/*
!notebooks/normalization_coeffs.ipynb 
config.yml
cars_vscws.code-workspace
train_colab_copy1.ipynb
train_colab_copy2.ipynb
